---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";

---

<MainLayout>
  <HeroSection
    title=`<span
        class="text-yellow-500 dark:text-yellow-400 text-[5.3rem]">DJ's</span> Street Coffee`
    subTitle="Premium Coffee at a non-premium price."
    primaryBtn="Visit us today"
    primaryBtnURL="https://maps.app.goo.gl/BU6X3YypQwBDrQs99"
    secondaryBtn="View our menu"
    secondaryBtnURL="/menu"
    src={heroImage}
    alt="cup of coffee"
  />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />
</MainLayout>